# Phone Sales Analysis Project

In [1]:
import pandas as pd
df = pd.read_csv()
df.head()

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
0,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
1,Nokia,3.2,Steel,2 GB,16 GB,Yes,3.8,10199,10199,Nokia 3.2,0,0.000000
2,realme,C2,Diamond Black,2 GB,NaN,Yes,4.4,6999,7999,realme C2,1000,12.501563
3,Infinix,Note 5,Ice Blue,4 GB,64 GB,Yes,4.2,12999,12999,Infinix Note 5,0,0.000000
4,Apple,iPhone 11,Black,4GB,64 GB,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000

In [11]:
import os

data_file = os.path.join(os.environ.get('DATA_DIR'), 'Sales.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3114 entries, 0 to 3113
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brands               3114 non-null   object
 1   Models               3114 non-null   object
 2   Colors               3114 non-null   object
 3   Memory               3071 non-null   object
 4   Storage              3075 non-null   object
 5   Camera               3114 non-null   object
 6   Rating               2970 non-null   float64
 7   Selling Price        3114 non-null   int64
 8   Original Price       3114 non-null   int64
 9   Mobile               3114 non-null   object
 10  Discount             3114 non-null   int64
 11  discount percentage  3114 non-null   float64
dtypes: float64(2), int64(3), object(7)
memory usage: 292.1+ KB

In [4]:
df.describe()

,Rating,Selling Price,Original Price,Discount,discount percentage
count,2970.000000,3114.000000,3114.000000,3114.000000,3114.000000
mean,4.243098,26436.625562,28333.473025,1896.847463,6.086788
std,0.271991,30066.892622,31525.599889,5337.126176,11.106776
min,2.300000,1000.000000,1000.000000,-8000.000000,-160.320641
25%,4.100000,9990.000000,10030.250000,0.000000,0.000000
50%,4.300000,15000.000000,16889.500000,0.000000,0.000000
75%,4.400000,28999.000000,31500.000000,2000.000000,9.836388
max,5.000000,179900.000000,189999.000000,75000.000000,70.610305

In [5]:
df.isnull().sum()

Brands                   0
Models                   0
Colors                   0
Memory                  43
Storage                 39
Camera                   0
Rating                 144
Selling Price            0
Original Price           0
Mobile                   0
Discount                 0
discount percentage      0
dtype: int64

# PostgreSQL Connection/Integration and General Analysis

In [7]:
query = """Select is_smartphone, 
Count(*) as count
from sales
group by is_smartphone;"""
cursor.execute(query)
results = cursor.fetchall()
cursor.close()
connection.close()

NameError: name 'cursor' is not defined

In [ ]:
import numpy as np
total_count = sum(count for _, count in results)
percentages = [(label, count/total_count * 100) for label, count in results]
print(percentages)
percentages = np.round(percentages, 2)
print(total_count)
print(percentages)

In [ ]:
import matplotlib.pyplot as plt
labels, values = zip(*percentages)
plt.figure()
plt.pie(values, labels=labels, autopct='%1.1f%%', explode = (0, 0.1))
plt.title('Distribution of smartphones vs non-smartphones')
plt.axis('equal')
plt.show()

**Analysis**
- Since 99.8% of the data are smartphones, 
this does not seem like a topic that is 
primed for data analysis 
- More feature enginerring may be necessary.

In [ ]:
try:
    connection = psycopg2.connect(**connection_params)
    cursor = connection.cursor()
    print("Reconnected to PostgreSQL")

except (Exception, psycopg2.Error) as error:
    print("Error reconnecting to PostgreSQL:", error)

In [ ]:
query = """Select distinct brands from sales;"""
cursor.execute(query)
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
query = """Select brands, Avg(Selling_Price) as Avg_Selling_Price 
from sales
group by brands"""
cursor.execute(query)
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
cursor.close()
connection.close()

In [ ]:
try:
    connection = psycopg2.connect(**connection_params)
    cursor = connection.cursor()
    print("Reconnected to PostgreSQL")

except (Exception, psycopg2.Error) as error:
    print("Error reconnecting to PostgreSQL:", error)

In [ ]:
query = """ Select brands, Avg(Original_Price) as Avg_Original_Price
from sales
group by brands"""
cursor.execute(query)
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
query = """ Select brands, Avg(Selling_Price) as Avg_Selling_Price, Avg(Original_Price) as Avg_Original_Price
from sales
group by brands"""
cursor.execute(query)
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
import seaborn as sns
price_df = pd.DataFrame(rows, columns = ['Brand', 'Avg_Selling_Price', 'Avg_Original_Price'])
plt.figure(figsize=(10, 6))
sns.barplot(data=price_df, x='Brand', y='Avg_Selling_Price', color='red', label='Average Selling Price')
sns.barplot(data=price_df, x='Brand', y='Avg_Original_Price', color='orange', alpha=0.5, label='Average Original Price')
plt.title('Average Selling Price and Average Original Price by Brand')
plt.xlabel('Brand')
plt.ylabel('Price')
plt.xticks(rotation=45)
plt.legend()
plt.tight_layout()
plt.show()

**Analysis**
- Both Apple and Google Pixel have by far the highest average
selling and original price of their mobile devices.

# Color Analysis

In [ ]:
query = """ Select brands, models, colors, Count(*) as total_sales
from sales
group by brands, models, colors;"""
cursor.execute(query)
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
colors_df = pd.DataFrame(rows, columns=['brands','models', 'colors', 'total_sales'])
print(colors_df.head())

In [ ]:
colors_df['phone'] = colors_df['brands'].astype(str) + ' ' + colors_df['models']
print(colors_df.head())

In [ ]:
grouped_colors_df = colors_df.groupby('total_sales')
for total_sales, group in grouped_colors_df:
    print(f"Total Sales: {total_sales}")
    print(group.head())
    print()

In [ ]:
colors_df['total_sales']

**Color Analysis**
- At the moment, there are way too many different color options
- To handle this, we are going to create an open dictionary
where we will store base colors
- We will then take those base colors and use them as our new
variable of measure

In [ ]:
color_mapping = {}
def find_base_color(color_name):
    for base_color in color_mapping.keys():
        if base_color.lower() in color_name.lower():
            return base_color
    return color_name

for color in colors_df['colors'].unique():
    base_color = find_base_color(color)
    if base_color not in color_mapping:
        color_mapping[base_color] = []
    if color != base_color and color not in color_mapping:
        color_mapping[base_color].append(color)

for base_color, variations in color_mapping.items():
    print(f"Base Color: {base_color}, Variations: {variations}")

In [ ]:
new_color_mapping = {}
colors_to_remove = []
for base_color, variations in list(color_mapping.items()):
    if ' ' in base_color:
        words = base_color.split()
        for word in words:
             if word.lower() in [base.lower() for base in color_mapping.keys()]:
                 colors_to_remove.append(base_color)
                 break
    else:
        new_color_mapping[base_color] = variations

    for color in colors_to_remove:
        if color in color_mapping:
            del color_mapping[color]

old_color_mapping = color_mapping.copy()
color_mapping.update(new_color_mapping)

for base_color, variations in color_mapping.items():
    print(f"Base Color: {base_color}, Variations: {variations}")

In [ ]:
base_colors_list = []
for base_color, variations in new_color_mapping.items():
     base_colors_list.append(base_color)
print(base_colors_list)

In [ ]:
base_colors_df = colors_df.copy()
base_colors_df['Base_Color'] = None
for index, row in base_colors_df.iterrows():
    color = row['colors']
    base_color = None
    for base_color_candidate in base_colors_list:
        if base_color_candidate.lower() in color.lower():
            base_color = base_color_candidate
            break
    base_colors_df.at[index, 'Base_Color'] = base_color
print(base_colors_df)

In [ ]:
none_count = base_colors_df['Base_Color'].apply(lambda x: x is None).sum()
print("Number of 'None' values in the 'Base_Color' column:", none_count)

In [ ]:
none_rows = base_colors_df[base_colors_df['Base_Color'].isnull()]

print("Rows where 'Base_Color' is None:")
print(none_rows)

In [ ]:
for index, row in base_colors_df.iterrows():
    color = row['colors']
    
    if 'Gray' in color:
        print("Updating base color to 'Gray'")
        base_colors_df.at[index, 'Base_Color'] = 'Gray'
print(base_colors_df)

In [ ]:
gray_colors_df = base_colors_df[base_colors_df['colors'].str.contains('Gray', case=False)]
gray_colors_df

In [ ]:
new_none_rows = base_colors_df[base_colors_df['Base_Color'].isnull()]

print("Rows where 'Base_Color' is None:")
print(new_none_rows)

In [ ]:
for index, row in base_colors_df.iterrows():
    color = row['colors']
    base_color = row['Base_Color']
    if base_color is None:
        base_colors_df.at[index, 'Base_Color'] = color
base_colors_df['Base_Color'].isnull().sum()

In [ ]:
sales_by_color = base_colors_df.groupby('Base_Color')['total_sales'].sum()
sales_by_color = sales_by_color[sales_by_color > 100]
print(sales_by_color)

In [ ]:
total_sales_by_color = sales_by_color.sum()
percentages = [(sales / total_sales_by_color) * 100 for sales in sales_by_color]

sales_by_color_df = sales_by_color.reset_index()
sales_by_color_df.columns = ['Base Color', 'Total Sales']

color_mapping = {'Black':'black', 'Blue':'blue', 'Gold':'gold', 'Graphite':'grey', 'Gray':'gray', 'Green':'green', 'Grey':'grey', 'Pink':'pink', 'Purple':'purple', 'Red':'red', 'Silver':'silver', 'Violet':'violet', 'White':'brown', 'Yellow':'yellow'}

sns.barplot(x='Base Color', y='Total Sales',hue='Base Color', data=sales_by_color_df, palette=color_mapping.values())

for i, percentage in enumerate(percentages):
    plt.text(i, sales_by_color_df['Total Sales'].iloc[i] + 1, f'{percentage:.1f}%', ha='center')

plt.title('Total Sales by Base Color')
plt.xlabel('Base Color')
plt.ylabel('Total Sales')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.show()

**Total Sales By Base Color**
- And here we see that of the major color groups,
the best selling overall color is Black at 31.6%.
- Many people are also purchasing Blue at 19.4%, White
at 11.0% (shown in brown) and Gold at 10.2%

# Discount Analysis

In [ ]:
query = '''Select discount from sales '''
cursor.execute(query)
discount_info = cursor.fetchall()

In [ ]:
discount_df = pd.DataFrame(discount_info, columns=['discount'])

In [ ]:
discount_df.info()

In [ ]:
discount_df.describe()

In [ ]:
discount_data=[]
discount_df['discount'] = discount_df['discount'].astype(int)
for discount in discount_df['discount']:
    if discount == 0:
        discount_data.append({'discount_bool': False})
    elif discount > 0:
        discount_data.append({'discount_bool': True})
discount_df_bool = pd.DataFrame(discount_data)

print(discount_df_bool)

In [ ]:
count_true_false = discount_df_bool.value_counts()
print('Number of phones purchased at discount price: ', count_true_false[True])
print('Number of phones purchased at original price: ', count_true_false[False])

**Number of phones with/without discount**
- Here we have the number of phones purchased at
a discount price and the number of phones purchased 
at an original price.
- What was the total amount of sales of discounted phones vs non-discounted phones?

In [ ]:
import warnings

warnings.filterwarnings("ignore", category=Warning)

query = '''Select brands, models, colors, Count(*) as total_sales from sales
group by brands, models, colors;'''
try: 
    total_sales_df = pd.read_sql(query, connection)
    print(total_sales_df)

except:
    print('Try Again')

In [ ]:
total_phone_sales = total_sales_df['total_sales']
ts_discount_cross_tab = pd.crosstab(total_phone_sales, discount_df_bool['discount_bool'])
ts_discount_cross_tab

In [ ]:
ts_discount_cross_tab.plot(kind='bar')
plt.title('Total Sales by Discount')
plt.xlabel('Total Sales')
plt.ylabel('Count')
plt.show()

**Total Sales By Discount**
- There are more false values than true values, therefore
this result is expected. What needs further analysis however
is the ratio between how many phones at each sale point
were sold at a discount vs how many were not
- To figure this out, let's grab the ratio between phones
sold at a discount and sold at regular price for each sale
category

In [ ]:
ratios_t_f = []
for index in ts_discount_cross_tab.index:
    if index <= 30:
        ratio_t_f = ts_discount_cross_tab.loc[index, True] / ts_discount_cross_tab.loc[index, False]
        ratios_t_f.append(ratio_t_f)
    
ratios_series = pd.Series(ratios_t_f, index=ts_discount_cross_tab.index[ts_discount_cross_tab.index <= 30])
print(ratios_series)

In [ ]:
normalized_ratios = ratios_series / ratios_series.sum()
normalized_ratios

In [ ]:
ratios_series.plot(kind='bar')
plt.title('Ratio of Discounted vs Non-Discounted Sales')
plt.xlabel('Total Sales')
plt.ylabel('Ratio')

**Ratio of Discounted vs Non-Discounted Sales**
- As the total sales per phone increase, one can expect a decrease in ratio of phones
discounted up until we reach the 25 mark, of which one can expect a staggering
increase in sales.
- This means that as the total sales per phone approaches 25, more people are buying
phones at a discounted price
- However this also means that at 15 and 20 total sales per phone, people are not
purchasing phones at a discounted price

# Rating Analysis

In [ ]:
query = '''Select rating from sales'''
cursor.execute(query)
rating_info = cursor.fetchall()

In [ ]:
rating_df = pd.DataFrame(rating_info, columns=['rating'])

In [ ]:
rating_df.info()

In [ ]:
rating_df.describe()

In [ ]:
print("NaN values:", rating_df.isna().sum())
print("Infinite values:", np.isinf(rating_df).sum())

In [ ]:
rating_df = rating_df.fillna(rating_df.mean())

In [ ]:
rating_df.describe()

In [ ]:
rounded_values = []
rating_df['rating'] = rating_df['rating'].astype(float)
for row_index, row in rating_df.iterrows():
    rounded_row = [round(float(value) * 8) / 8 for value in row]
    rounded_values.append(rounded_row)
rating_df_rounded = pd.DataFrame(rounded_values, columns=['rounded_rating'])
print(rating_df_rounded)

In [ ]:
rating_df_rounded_downsample = rating_df_rounded.sample(n=total_sales_df['total_sales'].size, random_state=42)
print("Total Sales DataFrame size:", total_sales_df['total_sales'].size)
print("Downsampled Rating DataFrame size:", rating_df_rounded_downsample['rounded_rating'].size)

In [ ]:
rating_df_rounded_float = rating_df_rounded_downsample.astype(float)
rating_df_rounded_half = (rating_df_rounded_float * 8).round() / 8

In [ ]:
rating_df_rounded_half['rounded_rating'].describe()

In [ ]:
plt.figure(figsize=(10, 6))
plt.bar(total_sales_df['total_sales'], rating_df_rounded_half['rounded_rating'])
plt.xlabel('Total Phone Sales')
plt.ylabel('Rounded Average Ratings')
yticks = np.linspace(3, 5, num=9)
plt.yticks(yticks, fontsize=10)
plt.title('Rounded Average Ratings vs Total Phone Sales')
plt.grid(False)
plt.ylim(3, 5)
plt.show()

**Rounded Ratings vs Total Phone Sales**
- As we increase the amount of total phone sales, the trend in average rating decreases
- To adjust for sample size, the data was downsampled as a fitting method

# Total Phone Sale Prediction